<%= form_with(url: login_path, scope: :session, local: true) do |m| %>
  <div class="danger">
    <%= flash[:danger] %>
  </div>


  <div class="form-input mb-3">
    <%= m.label :email %> 
  </div>

  <div class="form-input mb-3">
    <%= m.email_field :email %> 
  </div>


  <div class="form-input mb-3">
    <%= m.label :password %>
  </div>


  <div class="form-input mb-3">
    <%= m.password_field :password %>
  </div>


  <div class="form-input mb-3">
    <%= m.submit "Log in"%>
  </div>
<% end %>