<div class='form-row text-white bg-black mb-5 py-5 px-5 border border-info shadow-lg p-3 mb-5 bg-black rounded'>
  <div class='col'>
    <%= form_with(url: login_path, scope: :session, local: true) do |m| %>
      <div class="danger">
        <%= flash[:danger] %>
      </div>


      <div class="form-input mb-3">
        <%= m.label :email %> 
      </div>

      <div class="form-input mb-3">
        <%= m.email_field :email %> 
      </div>


      <div class="form-input mb-3">
        <%= m.label :password %>
      </div>


      <div class="form-input mb-3">
        <%= m.password_field :password %>
      </div>

      <div class="form-input mb-3">
        <%= m.submit "Log in"%>
      </div>

    <% end %>
  </div>
</div>
    <H1 class='text-white bg-black mb-5 mt-5 text-center text-white bg-black mb-5 py-5 px-5 border border-info shadow-lg p-3 mb-5 bg-black rounded'>Don't Have an Account, Well  <%= button_to 'JOIN US!!', new_user_path, method: :get, class: '  btn btn-outline-primary mb-4 mt-3 ' %></H1>