<%= form_with(model: @user ) do |u| %>
  <div class="field mt-5">
    <%= u.label :image %>
    <%= u.file_field :image %>
  </div>
  
  <br>
  <br>
  <div class="form-input mb-3">
    <%= u.label :name %>
    <%= u.text_field :name, class: 'text-center', placeholder: "example:Juliet Rice"%>
  </div>
  
  <div class="form-input mb-3">
    <%= u.label :email %>
    <%= u.email_field :email, class:'form-control' %>
  </div>
  
  <div class="form-input mb-3">
    <%= u.label :password %>
    <%= u.password_field :password, class:'form-control' %>
  </div>
  
  <div class="form-input mb-3">
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation, class:'form-control' %>
  </div>
  
  <div class='mb-3 mt-4p'>
    <%= u.submit 'Create Account' %>
  </div>
  
<% end %>
