<%= form_with(model: post ) do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <% post.errors.full_messages.each do |message|%>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
<%# 
  <div class="form-input mb-3">
    <%= f.label :author %>
    <%# <%= f.text_field :author, class: 'text-center', placeholder: "example:Juliet Rice" %> 
  <%# </div> %> 

    <div class="form-input mb-3">
    <%= f.label :body %>
    <%= f.rich_text_area :body, class:'form-control' %>
  </div>

  <div class="field">
  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>

  <div class='mb-3 mt-4p'>
    <%= f.submit 'Add Post' %>
  </div>
<% end %>
<br>
<br>
