<%= form_with(model: post ) do |f| %>

    <%  if post.errors %>
        <div class="alert alert-danger">
            <% post.errors.full_messages.each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>
    
  
  <div class="form-input mb-3">
    <%= f.label :author %>
    <%= f.text_field :author, class: 'text-center', placeholder: "example:Juliet Rice"%>
  </div>

    <div class="form-input mb-3">
    <%= f.label :body %>
    <%= f.rich_text_area :body, class:'form-control' %>
  </div>

  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image, multiple: true %>

  <div class='mb-3 mt-4p'>
    <%= f.submit 'Add Post' %>
  </div>
<% end %>
<br>
<br>
<%= button_to "HOME", '/', method: :get %>


