<div class='card border border-dark border-5'>
  <div class='card-body'>
  
    <%# <div id="post<%= post.id %>
    <div class='class m-auto'>
    <%= flash[:info]%>
      <div class="card-body">
        <h1 class="fs-2 fw-bold">
          Author: <%= post.user.name %>    
          <% if post.user.image.attached? %>          
            <%= image_tag(post.user.image, class: 'img-fluid img-avatar img-circled rounded-circle') %>
          <% end %>          
        </h1>
        <p class="post fs-4"> Description: <%= post.body %></p>
      </div>
    </div>

    <div>
    <% post.images.each do |image| %>
      <%= image_tag image, style:'width:200px; height:300px' %>
    <% end %>
  </div>

      <%# <div class='card mb-3'>
        <div class ="card-body bg-secondary"> %>
        <% if  post.critiques.any? %>
          
          <p class='text-uppercase'>Comments:</p>
          <% post.critiques.each do |critique| %>   
            <h2 class='fs-5 fw-bold'> <%= critique.user.name %> </h2>
            <p class='fs-6'><%== critique.comment %></p>
            <p class=' fs-5'><%= critique.user.name %></p><p class='fs-6 text-success fw-bold'>Gave this a rating of <%= critique.rating%> out of 5</p>
          <% end %>
          
        <% else %>

          <p class='text-uppercase'>Comments:</p>
          <p>No comment here as yet, but you can add one</p>


        <% end %>
        <%# </div>
      </div> %>


      <% if post.body %>
        <%# <%= link_to "Delete Post", post_path(post), "data-turbo-method": :delete %>
        <%# <%= link_to "Edit Post", edit_post_path(post) %>
        <%# <%= link_to "Comment", new_post_critique_path(post) %>
        <div class="d-flex justify-content-between my-3">
          <%= button_to " DELETE POST", post_path(post), method: :delete, class: 'btn btn-outline-danger' %>
          <%= button_to "EDIT POST", edit_post_path(post), method: :get, class: "btn btn-outline-warning" %>
          <%= button_to "COMMENT", new_post_critique_path(post), method: :get, class: "btn btn-outline-info" %>
        </div>

      <% end %>
  </div>
</div>
